# block everything else
.config/*

# zshrc
!/.zshrc

# hyprland
!/.config/hypr
!/.config/waybar
!/.config/kitty/kitty.conf

# bspwm
!/.config/polybar/
!/.config/sxhkd/
!/.config/bspwm/
!/.config/picom.conf
!/.config/alacritty/alacritty.toml

# neovim
.config/nvim/vscode-chrome-debug
!/.config/nvim/
!/.nvimrc
!/.editorconfig

# others
!/.gitignore

# qutebrowser
/.config/qutebrowser/*
!/.config/qutebrowser/fdm_download.sh
!/.config/qutebrowser/qutebrowser-mpv.sh
!/.config/qutebrowser/config.py

